.nav {
  height: 54px;
  padding: 0px 30px;
  background-color: #2B2B2B;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav .fa-bars {
  font-size: 25px;
  color: white;
}
.nav .nav-items {
  display: none;
}

@media (min-width: 992px) {
  .nav {
    height: 100px;
  }
  .nav .nav-menu {
    display: none;
  }
  .nav .nav-items {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  .nav .nav-items__links {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  .nav .nav-item__link {
    font-size: 18px;
    color: white;
  }
  .nav .nav-items__auth {
    width: 130px;
    height: 40px;
    background-color: #A259FF;
    border: none;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    font-size: 18px;
    color: white;
  }
  .nav .nav-items__auth button {
    font-size: 20px;
    border: none;
    background-color: transparent;
    color: white;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: sans-serif;
}

.container {
  padding: 30px 30px;
}

@media (min-width: 992px) {
  .container {
    padding: 0px 100px;
  }
}
.hero__discover {
  width: 100%;
  background-color: #2B2B2B;
  padding: 100px 120px;
}
.hero__discover .hero__discover-items {
  width: 100%;
  display: flex;
  gap: 50px;
}
.hero__discover .hero__discover-items .hero__discover-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  color: white;
}
.hero__discover .hero__discover-items .hero__discover-text .hero__title {
  width: 60%;
  font-size: 70px;
  font-weight: 600;
}
.hero__discover .hero__discover-items .hero__discover-text .hero__list {
  width: 70%;
  line-height: 40px;
  font-size: 28px;
  font-weight: 500;
}
.hero__discover .hero__discover-items .hero__discover-text .hero__icon-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: 1px solid;
  border: none;
  padding: 20px 35px;
  width: 30%;
  border-radius: 20px;
  background-color: #A259FF;
  cursor: pointer;
}
.hero__discover .hero__discover-items .hero__discover-text .hero__icon-btns i {
  font-size: 18px;
  color: white;
}
.hero__discover .hero__discover-items .hero__discover-text .hero__icon-btns .hero__btn {
  font-size: 18px;
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}
.hero__discover .hero__discover-items .hero__discover-text .hero__follow-items {
  display: flex;
  gap: 50px;
  color: white;
}
.hero__discover .hero__discover-items .hero__discover-text .hero__follow-items .hero__follow-item {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.hero__discover .hero__discover-items .hero__discover-text .hero__follow-items .hero__follow-item .hero__text-follow {
  font-size: 50px;
  font-weight: 700;
}
.hero__discover .hero__discover-items .hero__discover-text .hero__follow-items .hero__follow-item .hero__text-list {
  font-size: 40px;
  font-weight: 100;
}
.hero__discover .hero__discover-items .hero__discover-img-user {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0px 0px 10px 0px;
  background-color: #3B3B3B;
  border-radius: 30px;
}
.hero__discover .hero__discover-items .hero__discover-img-user .hero__discover-img {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.hero__discover .hero__discover-items .hero__discover-img-user .hero__discover-img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero__discover .hero__discover-items .hero__discover-img-user .hero__discover-img .hero__discover-user-title {
  font-size: 28px;
  color: white;
  padding: 0px 30px;
}
.hero__discover .hero__discover-items .hero__discover-img-user .hero__discover-user {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0px 30px;
}
.hero__discover .hero__discover-items .hero__discover-img-user .hero__discover-user .hero__discover-list {
  color: white;
  font-size: 18px;
  font-weight: 400;
}

.trending {
  width: 100%;
  background-color: #2B2B2B;
  padding: 100px 120px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.trending .trending__title {
  font-size: 60px;
  font-weight: 600;
  color: white;
}
.trending .trending__list {
  font-size: 30px;
  color: white;
  font-weight: 400;
}
.trending .collection__images {
  width: 100%;
  display: flex;
  gap: 20px;
}
.trending .collection__images .collection__image-items {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.trending .collection__images .collection__image-items .collection__image-box img {
  width: 100%;
}
.trending .collection__images .collection__image-items .collection__image-boxs {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.trending .collection__images .collection__image-items .collection__image-boxs img {
  width: 30%;
  display: inline-block;
}
.trending .collection__images .collection__image-items .collection__image-info {
  display: flex;
  flex-direction: column;
  color: white;
  gap: 15px;
}
.trending .collection__images .collection__image-items .collection__image-info .collection__image-title {
  font-size: 28px;
  font-weight: 600;
}
.trending .collection__images .collection__image-items .collection__image-info .collection__image-avatar {
  display: flex;
  align-items: center;
  gap: 10px;
}
.trending .collection__images .collection__image-items .collection__image-info .collection__image-avatar .collection__image-list {
  font-size: 20px;
  font-weight: 400;
}

.creators {
  width: 100%;
  padding: 100px 120px;
  background-color: #2B2B2B;
}
.creators .creators__items__title-list {
  width: 100%;
  display: flex;
  gap: 15px;
  flex-direction: column;
}
.creators .creators__items__title-list .creators__title {
  font-size: 60px;
  font-weight: 600;
  color: white;
}
.creators .creators__items__title-list .creators__icon-btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.creators .creators__items__title-list .creators__icon-btn .creators__list {
  font-size: 30px;
  font-weight: 400;
  color: white;
}
.creators .creators__items__title-list .creators__icon-btn .creators__btn {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 15px 30px;
  background-color: transparent;
  border: 1px solid #A259FF;
  color: white;
  border-radius: 20px;
  font-size: 18px;
  font-weight: 400;
}
.creators .creators__items__title-list .creators__icon-btn .fa-rocket {
  color: #A259FF;
}
.creators .creators__users-boxs {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 50px;
}
.creators .creators__users-boxs .creators__user__item-img-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #3B3B3B;
  border-radius: 30px;
  border: 1px solid gray;
  padding: 20px;
  width: 23%;
  gap: 10px;
  position: relative;
}
.creators .creators__users-boxs .creators__user__item-img-title .creator__number {
  font-size: 20px;
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background-color: #2B2B2B;
  position: absolute;
  top: 20px;
  left: 20px;
}
.creators .creators__users-boxs .creators__user__item-img-title .creator__img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
}
.creators .creators__users-boxs .creators__user__item-img-title .creator__img img {
  width: 100%;
}
.creators .creators__users-boxs .creators__user__item-img-title .creator__user__title-list {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}
.creators .creators__users-boxs .creators__user__item-img-title .creator__user__title-list .creator__user-title {
  font-size: 22px;
  font-weight: 600;
}
.creators .creators__users-boxs .creators__user__item-img-title .creator__user__title-list .creator__user-list {
  display: flex;
  gap: 10px;
  align-items: center;
}
.creators .creators__users-boxs .creators__user__item-img-title .creator__user__title-list .creator__user-list p {
  color: #858584;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}
.creators .creators__users-boxs .creators__user__item-img-title .creator__user__title-list .creator__user-list span {
  font-size: 16px;
  font-weight: 400;
}